:root {
    --basic-dark-blue: #353C43;
    --light: rgba(255, 255, 255, 0.9);
    --basic-green: #3FC1B0;
    --light-grey: #A2A5A7;
    --basic-blue: #4B99E0;
    --basic-grey: #3A4047;
    --dark-blue: #2E323F;
    --grey: #888888;
    --light-green: yellowgreen;
}