.auth {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top left, gold, tomato);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.auth__section {
    background-color: rgba(51, 51, 51, 0.897);
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 40px -10px #ffffff;
}

.auth__form {
    display: flex;
    flex-direction: column;
}

.auth__title {
    text-align: center;
    letter-spacing: 4px;
    font-weight: 900;
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
}

.auth__input {
    padding: 10px;
    padding-right: 0;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px -5px #333;
    outline: none;
    background: #333;
    color: #fff;
    border: 1px solid #fff;
}

.auth__button {
    border: none;
    padding: 10px 0;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px -10px #333;
    background: dodgerblue;
    color: #fff;
}

.auth__toggle {
    font-size: 18px;
    color: #fff;
}

.auth__toggle a {
    color: dodgerblue;
}

.auth__error {
    color: tomato;
    margin-bottom: 10px;
}