.page {
    font-family: 'Bayon', sans-serif;
    overflow: hidden;
}

.page__main {
    display: flex;
}

.page__settings {
    width: 290px;
    position: absolute;
    background-color: var(--dark-blue);
    left: -100vw;
    height: 100vh;
    z-index: 10;
    transition: 300ms;
    padding: 25px;
    transition-timing-function: ease-in-out;
    box-shadow: 0px 0px 15px -5px #fff;
}

.page__settings--light {
    background-color: #fff;
}

.page__settings--opened {
    left: 0;
}

.page__settings--close-button {
    width: 35px;
    height: 35px;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.page__settings--close-button::after {
    content: '';
    background-color: tomato;
    width: 100%;
    height: 100%;
    clip-path: polygon(10% 0, 0 10%, 40% 50%, 0 90%, 10% 100%, 50% 60%, 90% 100%, 100% 90%, 60% 50%, 100% 10%, 90% 0, 50% 40%);
    display: block;
}

.page__settings_user-name {
    color: #fff;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.page__settings_user-name--light {
    color: #333;
}

.page__settings-operator-role {
    font-size: 16px;
    color: #ffffffa8;
    margin-bottom: 15px;
}

.page__settings-operator-role--light {
    color: #333;
}

.page__settings-add-operator {
    display: flex;
    width: max-content;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: dodgerblue;
    padding: 20px 10px;
    border: none;
    border-radius: 5px;
    line-height: 0;
    color: #fff;
    font-size: 20px;
    transition: 300ms;
    cursor: pointer;
}

.page__settings-add-operator--light {
    border: 2px solid dodgerblue;
    color: #333;
    background-color: transparent;
}

.page__settings-add-operator--light:hover {
    background-color: dodgerblue;
    color: #fff;
}

.page__theme {
    outline: none;
    width: 40px;
    height: 20px;
    border-radius: 50px;
    background-color: #fff;
    appearance: none;
    position: relative;
}

.page__theme span {
    cursor: pointer;
    position: absolute;
    text-wrap: nowrap;
    color: #fff;
    left: 45px;
    top: 2px;
}

.page__theme::after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: var(--light-green);
    border: 1px solid #fff;
    border-radius: 50%;
    transition: 200ms;
    left: 0;
}

.page__theme--light {
    background-color: var(--dark-blue);
}

.page__theme--light span {
    color: #333 !important;
}

.page__theme--light::after {
    border: 1px solid #333;
    left: 20px;
}